input {
  beats {
    port => 5044
  }
}

filter {
  if "json" in [tags] {
    json {
      source => "message"
      target => "data"
    }
  } else {
    csv {
      source => "message"
      target => "data"
      separator => ","
      columns => ["status", "timestamp", "src_ip", "dst_ip", "protocol", "src_port", "dst_port"]
      convert => {
        "status" => "integer"
        "timestamp" => "date_time"
        "protocol" => "integer"
        "src_port" => "integer"
        "dst_port" => "integer"
      }
    }

    date {
      match => ["[data][timestamp]", "dd/MM/yyyy HH:mm:ss"]
      target => "[data][timestamp]"
    }
  }
  
  mutate {
    remove_field => ["input", "host", "ecs", "log", "agent", "message"]
  }
}

output {
  elasticsearch {
    hosts => ["es01:9200"]
    index => "network-log"
    action => "create"
  }
}